.page{
  width: 100vw;
  height: 100%;
  background-color: $mainGray;

  &__box{
    width: 700px;
    background-color: $mainWhite;
    margin: auto;

    &__top{
      padding: 16px;
      font-size: 18px;
      text-align: center;
      border-bottom: 1px solid $mainGray;
    }

    &__product{
      font-size: inherit;
      line-height: inherit;
      max-width: 343px;
      margin: auto;
      display: flex;
      padding: 24px;

      &--img{
        width: 80px;
        height: 80px;
      }

      &--text{
        margin-left: 16px;

        &__title{
          font-size: 14px;
          padding: 0 0 8px;
          line-height: 1.5;
          text-align: left;
        }

        &__second{
          display: flex;

          &__price{
            font-size: 15px;
          }

          &__Postage{
            font-size: 12px;
          } 
        }
      }
    }

    &__content{
      width: 100%;
      border-top: 1px solid $mainGray;

      &--item{
        width: 400px;
        text-align: center;
        margin: auto;
        text-align: left;
        border-bottom: 1px solid $mainGray;
        padding: 34px 0px;

        &__wrap{
          display: flex;
          padding-bottom: 20px;
          font-size: 18px;
          justify-content: space-between;
          width: 100%;

          &--left{
          }

          &--right{
          }
        }

        &__label{
          width: 100%;
          display: flex;

          &--icon{
            color: $darkGray;
            font-size: 18px;
            padding-right: 5px;
          }

          &--point{
          }
        }

        &__register{
            display: flex;
            color: $mainBlue;
            margin-top: 10px;
        }

        &__purchase{
          background-color: $darkGray;
          text-align: center;
          padding: 18px;

            & a{
              color: $mainWhite;
            }

        }
      }
    }
  }
}
