.logout{
  padding: 64px;
  width: 700px;
  background-color: $hoverYellow;
  margin: auto;

  &__box{
    max-width: 700px;
    margin: auto;

    &__btn{
      color: $mainWhite;
      background-color: $mainBlue;
      border: 1px solid $mainBlue;
      display: block;
      width: 100%;
      cursor: pointer;
      text-align: center;
      font-size: 14px;
      transition: all;
      line-height: 50px;
    }
  }
}