.productNewLow{
  background-color: $mainGray;
  padding-bottom: 100px;
  & .productNew__logoLow{
    text-align: center;
    padding: 50px;
    & .productNew__logo{
      height: 49px;
      width: 185px;
      display: inline-block;background-image: url(material/logo/logo.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .formLow{
    width: 700px;
    height: 100%;
    margin: 0 auto;
    & hr{
      background-color: $mainWhite;
      margin: 0;
    }
    & .formBox__image{
      display: flex;
      justify-content: space-between;
    }
    & .formBox{
      padding:40px;
      background-color: $mainWhite;
      &__texts{
        font-size: 14px;
        & :nth-child(1){
          font-weight: bold;
        }
        & :nth-child(2){
          margin-left: 5px;
          font-size: 12px;
          background-color: $mainBlue;
          color: $mainWhite;
          padding: 1px;
        }
        &--price{
          height: 48px;
          line-height: 48px;
          position: relative;
          & :nth-child(3){
            position: absolute;
            right: 270px;
          }
        }
      }

      &__secondTexts{
        font-size: 14px;
        margin-top: 15px;
      }
      &__imageBox{
        height: 167px;
        width: 27%;
        background-color:$mainGray;
        margin-right: 50px;
        text-align: center;
        cursor: pointer;
        border: dotted;
        &:hover{
          opacity: 0.6;
        }
        &--image{
          display: none;
        }
        & .fas{
          font-size: 30px;
          margin-top: 50px;
        }
        & div{
          font-size: 12px;
          margin-top: 20px;
        }
      }
      &__name--input{
        width: calc(100% - 40px);
        height: 48px;
        margin: 10px 0 20px 0;
        padding: 0 16px;
        border-radius: 5px;
      }
      &__explanation--input{
        width: calc(100% - 40px);
        padding: 16px 16px;
        height: 120px;
        margin-top: 10px;
        resize: vertical;
        border-style: inset;
        border-color: initial;
        border-image: initial;
        border-radius: 5px;
      }
      &__price--input{
        position: absolute;
        right: 0;
        height: 44px;
        width: 40%;
        font-size: 1.3em;
        padding-left: 10px;
        border-radius: 5px;
      }
      &__select{
        width:100% ;
        height: 48px;
        margin: 20px 0 20px 0;
        & select{
          height: 100%;
          width: 100%;
          cursor: pointer;
        }
      }
      &__description{
        color: #888888;
        font-size: 14px;
        margin-bottom: 24px;
      }
      &__submitLow{
        margin: 0 132px;
        & div{
          text-align: center;
          margin-top: 20px;
          & a{
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
      &__submit{
        width: 100%;
        height: 48px;
        background-color: $mainBlue;
        font-weight: bold;
        border-radius: 5px;
        color: $mainWhite;
        cursor: pointer;
        &:hover{
          opacity: 0.8;
        }
      }
      & .noteBox{
        font-size: 12px;
        margin-top: 40px;
      }
    }
  }
}