.notification {
  .notice {
    background-color: $mainBlue;
    color: $mainWhite;
    text-align: center;
  }

  .alert {
    background-color: $hoverYellow;
    color: $mainWhite;
    text-align: center;
  }
}