<h1>デプロイできているかテストようにかきました</h1>
<p>このビュー(views/deploytest/index.html.erb)と、コントローラ(controllers/deploytest_controller.rb)は削除予定です。</p>
<p>route.rbのrootの指定もdeploytest#indexから本番用に変更する必要があります。</p>

<p>以下のpタグはメンバーそれぞれが自動デプロイできるか確かめるために名前を記入してください</p>
<p>自動デプロイを確認した人の名前:足立 テスト石坂</p>
井上です 2回目
佐藤です