.template__footer
  %ul.template__footer__nav
    %li
      = link_to '#' ,class:'template__footer__nav--link linkBlack' do
        プライバシーポリシー
    %li
      = link_to '#' ,class:'template__footer__nav--link linkBlack' do
        フリマ利用規約
    %li
      = link_to '#' ,class:'template__footer__nav--link linkBlack' do
        特定商取引に関する表記
  %p.template__footer__copo
    %small.template__footer__copo--text
      © FURIMA, Inc.