.template__footer
  %ul.template__footer__nav
    %li
      = link_to '#' ,class:'template__footer__nav--link' do
        プライバシーポリシー
    %li
      = link_to '#' ,class:'template__footer__nav--link' do
        フリマ利用規約
    %li
      = link_to '#' ,class:'template__footer__nav--link' do
        特定商取引に関する表記
  -# = link_to '#' ,class:'single-container__footer__logo' do
    -# = image_tag 'material/logo/logo.png',class:'single-container__footer__logo--img'
  %p.template__footer__copo
    %small.template__footer__copo--text
      © FURIMA, Inc.