.my-page
  .my-page__whole
    .my-page__whole__left-bar
      .my-page__whole__left-bar__side
        .my-page__whole__left-bar__side__top
          マイページメニュー
        .my-page__whole__left-bar__side__bottom
          = link_to "#", class: "list" do
            .my-page__whole__left-bar__side__bottom__all
              いいねした商品
      .my-page__whole__left-bar__side
        .my-page__whole__left-bar__side__top
          出品
        .my-page__whole__left-bar__side__bottom
          = link_to "#", class: "list" do
            .my-page__whole__left-bar__side__bottom__all
              商品を出品する
            .my-page__whole__left-bar__side__bottom__all-b
              出品した商品
      .my-page__whole__left-bar__side
        .my-page__whole__left-bar__side__top
          購入
        .my-page__whole__left-bar__side__bottom
          = link_to "#", class: "list" do
            .my-page__whole__left-bar__side__bottom__all
              購入した商品
      .my-page__whole__left-bar__side
        .my-page__whole__left-bar__side__top
          その他
        .my-page__whole__left-bar__side__bottom
          = link_to "#", class: "list" do
            .my-page__whole__left-bar__side__bottom__all
              設定
    .my-page__whole__right-bar
      .my-page__whole__right-bar__side
        設定
        .my-page__whole__right-bar__side__top
        .my-page__whole__right-bar__side__bottom
      .my-page__whole__right-bar__side
        .my-page__whole__right-bar__side__top
        .my-page__whole__right-bar__side__bottom
      .my-page__whole__right-bar__side
        .my-page__whole__right-bar__side__top
        .my-page__whole__right-bar__side__bottom