-# .my-page
-#   .my-page__whole
-#     .my-page__whole__left-bar
-#       .my-page__whole__left-bar__side
-#         .my-page__whole__left-bar__side__top
-#           マイページメニュー
-#         .my-page__whole__left-bar__side__bottom
-#           = link_to "#", class: "list" do
-#             .my-page__whole__left-bar__side__bottom__all
-#               いいねした商品
-#       .my-page__whole__left-bar__side
-#         .my-page__whole__left-bar__side__top
-#           出品
-#         .my-page__whole__left-bar__side__bottom
-#           = link_to "#", class: "list" do
-#             .my-page__whole__left-bar__side__bottom__all
-#               商品を出品する
-#             .my-page__whole__left-bar__side__bottom__all-b
-#               出品した商品
-#       .my-page__whole__left-bar__side
-#         .my-page__whole__left-bar__side__top
-#           購入
-#         .my-page__whole__left-bar__side__bottom
-#           = link_to "#", class: "list" do
-#             .my-page__whole__left-bar__side__bottom__all
-#               購入した商品
-#       .my-page__whole__left-bar__side
-#         .my-page__whole__left-bar__side__top
-#           その他
-#         .my-page__whole__left-bar__side__bottom
-#           = link_to "#", class: "list" do
-#             .my-page__whole__left-bar__side__bottom__all
-#               設定
-#     .my-page__whole__right-bar
-#       .my-page__whole__right-bar__title
-#         さんのマイページ
-#       .my-page__whole__right-bar__side
-#         .my-page__whole__right-bar__side__top
-#           現在売っている商品
-#         .my-page__whole__right-bar__side__bottom
-#           .my-page__whole__right-bar__side__bottom__down__list__individual
-#             .my-page__whole__right-bar__side__bottom__down__list__individual__whole
-#               .my-page__whole__right-bar__side__bottom__down__list__individual__whole__img
-#               .my-page__whole__right-bar__side__bottom__down__list__individual__whole__title
-#               .my-page__whole__right-bar__side__bottom__down__list__individual__whole__price


-#         .my-page__whole__right-bar__side__top
-#         .my-page__whole__right-bar__side__bottom
-#           .my-page__whole__right-bar__side__bottom__whole
-#             .my-page__whole__right-bar__side__bottom__whole__up
-#             .my-page__whole__right-bar__side__bottom__whole__down
-#           .my-page__whole__right-bar__side__bottom__whole
-#             .my-page__whole__right-bar__side__bottom__whole__up
-#             .my-page__whole__right-bar__side__bottom__whole__down
-#           .my-page__whole__right-bar__side__bottom__whole
-#             .my-page__whole__right-bar__side__bottom__whole__up
-#             .my-page__whole__right-bar__side__bottom__whole__down
-#       .my-page__whole__right-bar__side
-#         .my-page__whole__right-bar__side__top
-#         .my-page__whole__right-bar__side__bottom
-#           .my-page__whole__right-bar__side__bottom__whole
-#             .my-page__whole__right-bar__side__bottom__whole__up
-#             .my-page__whole__right-bar__side__bottom__whole__down
-#           .my-page__whole__right-bar__side__bottom__whole
-#             .my-page__whole__right-bar__side__bottom__whole__up
-#             .my-page__whole__right-bar__side__bottom__whole__down

.my-page
  .my-page__whole
    .my-page__whole__left-bar
      .my-page__whole__left-bar__side
        .my-page__whole__left-bar__side__top
          マイページメニュー
        .my-page__whole__left-bar__side__bottom
          = link_to "#", class: "list" do
            .my-page__whole__left-bar__side__bottom__all
              いいねした商品
      .my-page__whole__left-bar__side
        .my-page__whole__left-bar__side__top
          出品
        .my-page__whole__left-bar__side__bottom
          = link_to "#", class: "list" do
            .my-page__whole__left-bar__side__bottom__all
              商品を出品する
            .my-page__whole__left-bar__side__bottom__all-b
              出品した商品
      .my-page__whole__left-bar__side
        .my-page__whole__left-bar__side__top
          購入
        .my-page__whole__left-bar__side__bottom
          = link_to "#", class: "list" do
            .my-page__whole__left-bar__side__bottom__all
              購入した商品
      .my-page__whole__left-bar__side
        .my-page__whole__left-bar__side__top
          その他
        .my-page__whole__left-bar__side__bottom
          = link_to "#", class: "list" do
            .my-page__whole__left-bar__side__bottom__all
              設定
    .my-page__whole__right-bar
      .my-page__whole__right-bar__title
        設定
      .my-page__whole__right-bar__side
        .my-page__whole__right-bar__side__top
          ユーザー情報
        .my-page__whole__right-bar__side__bottom
          .my-page__whole__right-bar__side__bottom___title
            本人確認
          .my-page__whole__right-bar__side__bottom___sentence
            証明書を利用した本人確認します
          .my-page__whole__right-bar__side__bottom___title
            連絡先・住所の設定
          .my-page__whole__right-bar__side__bottom___sentence
            配送先の住所や電話番号などの情報
          .my-page__whole__right-bar__side__bottom___title
            ショップ・プロフィールの設定
          .my-page__whole__right-bar__side__bottom___sentence
            自分のプロフィールのタイトルやプロフィールの変更
        .my-page__whole__right-bar__side__top
          ログイン情報
        .my-page__whole__right-bar__side__bottom
          .my-page__whole__right-bar__side__bottom___title
            ログイン情報の設定
          .my-page__whole__right-bar__side__bottom___sentence
            ログイン方法やメールアドレスの変更
          .my-page__whole__right-bar__side__bottom___title
            ログアウト
          .my-page__whole__right-bar__side__bottom___sentence
            ラクマからログアウトします



.logout
  .logout__box
    .logout__box__btn
      ログアウト